.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0px 100px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin-top: 0px;
    padding: 0px 0px;
  }
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f8f9;
}
 